
body
{
  background-color: 000000;
}

table.outer
{
  border: 1px solid #ffffff;
  border-collapse: collapse; 
  border-spacing: 0px; 
  padding: 0px;
  vertical-align: middle;
  #font-family: Lucida Console;
  #font-family: Courier New;
  #font-family: Verdana, Geneva, sans-serif;
  font-family: Geneva, sans-serif;
  font-size: 18;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  overflow: hidden;
}


.data
{
  #font-family: Lucida Console;
  #font-family: Courier New;
  #font-family: Verdana, Geneva, sans-serif;
  #font-family: Verdana, Geneva, sans-serif;
  font-family: Geneva, sans-serif;
  font-size: 20;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  overflow: hidden;
  padding: 0px;
}



div.outer
{
  overflow: hidden;
  width: 98;
  height: 98;
  vertical-align: middle;
  border: 1px solid #ffffff;
}

div.inner_upper
{
  overflow: hidden;
  width: 96;
  height: 64;
  vertical-align: middle;
}

div.inner_lower
{
  overflow: hidden;
  width: 96;
  height: 32;
  vertical-align: bottom;
}

