
body
{
  background-color: 000000;
}

table.outer
{
  border: 1px solid #ffffff;
  border-collapse: collapse; 
  border-spacing: 0px; 
  vertical-align: middle;
  #font-family: Lucida Console;
  #font-family: Courier New;
  #font-family: Verdana, Geneva, sans-serif;
  #font-family: Verdana, Geneva, sans-serif;
  #font-family: Verdana, Geneva, sans-serif;
  font-family: Geneva, sans-serif;
  font-size: 16;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  table-layout: fixed;
}

table.outer td
{
  #font-family: Lucida Console;
  #font-family: Courier New;
  #font-family: Verdana, Geneva, sans-serif;
  #font-family: Verdana, Geneva, sans-serif;
  font-family: Geneva, sans-serif;
  text-align: center;
  font-weight: bold;
  color: #ff00ff;
  background-color: #ffffff;
  table-layout: fixed;
}
